/* body{
    margin: 0;
    font-family: 'helvetica', sans;
    font-size: 13px;
    color: #c0c0c0;
    background-color: #26282b;
}

/* ****************+ */

.button-container {
    display: flex;
    justify-content: right;
}
.fake-button{
    background-color: #ffffff;
    color: #333;
    margin: 5px;
    padding: 15px 5px;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 50px;
    justify-content: center;
    align-items: start;
    padding: 30px;
    min-height: 100vh;
}
.movie{
    width: 360px;
    display: flex;
    flex-direction: column;
}
.movie-poster{
    border-radius: 8px;
    margin-bottom: 10px;
}
.movie-title{
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: bold;
}
.movie-data{
    font-size: 1em;
    margin-bottom: 10px;
}
.movie-description-heading{
    font-size: 1.2em;
    font-weight: bold;
}
.movie-description{
    margin: 6px 0;
    line-height: 1.4;
}
.movie-other{
    line-height: 1.4;
    padding: 5px 0;
    border-bottom: 1px solid #c0c0c0;
}
.movie-other:last-child{
    border: none; 
}
.movie-other span{
    font-weight: bold;
    padding-right: 5px;
}
